@import url('https://fonts.googleapis.com/css?family=Montserrat');

mat-card {
  background-color: #E0E0E0;
  font-family: 'Montserrat', sans-serif;
}

.mat-card-center {
  max-width: 25%;
  margin: auto;
}

@media (max-width: 600px) {
  .mat-card-center {
    max-width: 100%;
  }
}
