<mat-card class="mat-card-center">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>João Mealha Gomes</mat-card-title>
    <mat-card-subtitle>Software Engineer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/jmgomes.png" alt="KenVonTucky">
  <mat-card-content>
    <p><b>Weather machine</b></p>
    <p>Data acquisition of temperature, solar radiation and cloudiness indexes.
      Feed neural network and predict the acquired parameters in a 4 hour future.
    </p>
    <ul>
      <li>Python - numpy, opencv, pyserial</li>
      <li>Solar position - hardware/software</li>
      <li>Arduino</li>
    </ul>
    <p><b>Greenhouse control system</b></p>
    <p>Greenhouse control and data acquisition of fertirrigation and climate, among other subsystems</p>
    <ul>
        <li>Django, Celery, RabbitMQ, pymodbus</li>
        <li>MySQL</li>
        <li>AngularJs</li>
    </ul>
    <p><b>Latest</b></p>
    <ul>
        <li>Django, Angular, MySQL, Angular, CouchDB</li>
    </ul>
  </mat-card-content>
</mat-card>
